.card {
  border: 1px solid grey;
  border-radius: 10px;
  padding: 15px;
  height: fit-content;
  background-color: white;
  -webkit-box-shadow: 0px 5px 15px 5px rgba(0,0,0,0.4); 
  box-shadow: 0px 1px 5px 0.5px rgba(0,0,0,0.4);
  width: 100%;
  /* min-width: fit-content; */
  max-width: 250px;
}

.title-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.doc-options {
  display: flex;
  justify-content: space-around;
  position: sticky;
}

/* buttons at top of document */
.doc-options>button {
  width: 100px;
  height: 40px;
  border: none;
  border-radius: 10px;
  background-color: white;
  transition: all .4s ease;
  cursor: pointer;
}

#download {
  color: #187FF5;
}
#reset {
  color: #7E94A1;
}

#download:hover, #reset:hover {
  scale: 1.05;
  color: white;
}
#download:hover {
  background-color: #187FF5;
}
#reset:hover {
  background-color: #7E94A1;   
}

#download:active, #reset:active {
  scale: .98;
}

.open-close {
  width: 20px;
  height: 20px;
  display: flex;
}

.left-card-icon, .right-card-icon {
  height: 20px;
  width: 2px;
  border-radius: 5px;
  background-color: #7E94A1;
  position: relative;
  transition: all 0.3s ease;
}

.left-card-icon.show {
  transform: rotateZ(0deg) translateX(-3.5px) rotateZ(-30deg) ;
}
.right-card-icon.show {
  transform: rotateZ(0deg)  translateX(3.5px) rotateZ(30deg) ;
}

.left-card-icon.close {
  transform:  translateX(-3.5px) rotateZ(30deg) ;
}
.right-card-icon.close {
  transform:  translateX(3.5px) rotateZ(-30deg) ;
}