#right-side {
  grid-column: 2;
  display: flex;
  justify-content: center;
}

#left-side {
  justify-self: end;
  grid-column: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  padding-top: 10px;
  gap: 10px;
  z-index: 1;
}

#doc {
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  width: 8.3in;
  height: 11.7in;
  background-color: white;
  -webkit-box-shadow: 0px 2px 5px 1px rgba(0,0,0,0.4); 
  z-index: 0;
  box-shadow: 0px 2px 5px 1px rgba(0,0,0,0.4);
}

#content {
  margin: 0px 10px;
  display: flex;
  flex-direction: column;
}

@media (max-width: 768px) {
  #right-side, #left-side {
    grid-column: 1;
  }

  #right-side {
    width: 95vw;
  }
  
  #doc {
    width: 100%;
    height: auto;
  }
}
