.card {
  border: 1px solid grey;
  border-radius: 10px;
  padding: 15px;
  height: fit-content;
  background-color: white;
  -webkit-box-shadow: 0px 5px 15px 5px rgba(0,0,0,0.4); 
  box-shadow: 0px 1px 5px 0.5px rgba(0,0,0,0.4);
  width: 100%;
  max-width: 250px;
}

.title-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card-title {
  cursor: default;
}

.doc-options {
  display: flex;
  justify-content: space-around;
  position: sticky;
}

/* buttons at top of document */
.doc-options>button {
  width: 100px;
  height: 40px;
  border: none;
  border-radius: 10px;
  background-color: white;
  transition: all .4s ease;
  cursor: pointer;
}

#form>h2 {
  cursor: default;
}

#download {
  color: #187FF5;
}
#reset {
  color: #7E94A1;
}

#download:hover, #reset:hover {
  scale: 1.05;
  color: white;
}
#download:hover {
  background-color: #187FF5;
}
#reset:hover {
  background-color: #7E94A1;   
}

#download:active, #reset:active {
  scale: .98;
}

.open-close {
  width: 40px;
  height: 20px;
  display: flex;
  cursor: pointer;
  justify-content: center;
}

.left-card-icon, .right-card-icon {
  height: 20px;
  width: 2px;
  border-radius: 5px;
  background-color: #7E94A1;
  position: relative;
  transition: all 0.3s ease;
}

.left-card-icon.show {
  transform: rotateZ(0deg) translateX(-3.5px) rotateZ(-30deg) ;
}
.right-card-icon.show {
  transform: rotateZ(0deg)  translateX(3.5px) rotateZ(30deg) ;
}

.left-card-icon.close {
  transform:  translateX(-3.5px) rotateZ(30deg) ;
}
.right-card-icon.close {
  transform:  translateX(3.5px) rotateZ(-30deg) ;
}

.item-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

#new-education-button,
#new-experience-button,
.item-list>button {
    border-radius: 10px;
    background-color: white;
    transition: all 0.5s ease;
}

.item-list>button {
    padding: 3px 5px;
    border: 3px solid #EEF0F4;
}

#new-education-button,
#new-experience-button {
    padding: 10px 10px;
    border: 5px solid #EEF0F4;
}

button {
    font-weight: 500;
    cursor: pointer;
}

#new-education-button:hover,
#new-experience-button:hover {
    scale: 1.05;
    background-color: #187FF5;
    color: white;
}

.item-list>button:hover {
    scale: 1.1;
    color: white;
    background-color: #7E94A1;
    border-color: #7E94A1;
}

.button-div {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 10px;
}

.button-div > button {
    width: 80px;
    padding: 10px 5px;
    border-radius: 10px;
    border: 3px solid #EEF0F4;
    background-color: white;
    transition: all 0.5s ease;
}

.delete-button:hover,
.submit-button:hover,
.cancel-button:hover {
    scale: 1.05;
}

.submit-button {
    grid-column: 2/3;
}

.delete-button:hover {
    background-color: red;
    color: white;
}

.submit-button:hover {
    background-color: #187FF5;
    color: white;
}

.cancel-button:hover {
    background-color: #7E94A1;
    color: white;
}

@media (max-width: 768px) {
  .card {
    max-width: 100%;
  }
}
