.inp-div {
    height: min-content;
    max-width: 250px;
    min-width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

* {
    margin: 0px;
}

.title {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: 0px 5px 0px 5px;
}

.title > h4 {
    font-size: smaller;
    color: grey;
}

#form {
    align-items: center;  
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input {
    min-width: 100%;
}